.header {
  width: 9500px;
  height: 100px;
  padding: 10px 0;
  left: -5px;
  position: fixed; /* 헤더를 고정 */
  top: 0; /* 페이지 상단에 고정 */
  z-index: 10; /* 다른 요소보다 위에 오도록 설정 */
  background-color: #191919; /* 헤더 배경 설정 */
  ;

}


.logo img {
    display: flex;
    height: 90px;
    width: 95px;
    margin-left: 265px;
    cursor: pointer;
}

/* 검색 바 스타일 */
.search-bar {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 378px;
    margin-top: -64px;
  }
  
  /* 검색 입력 필드 */
  .search-input-text {
    padding: 15px;
    background-color: #272727;
    border-radius: 5px;
    border: solid #272727;
    font-size: 16px;
    outline: none;
    width: 300px;
    height: 37px;
    margin-left: 10px;
    color: #ffff;
  }

  /* 검색 버튼 스타일 */
  .search-bar
  .search-button {
    padding: 15px;
    height: 37px;
    background-color: #272727;
    border: none;
    margin-left: -10px;
    border-radius: 50px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
 
  .search-icon {
    width: 19px; /* 아이콘 너비 */
    height: 23px; /* 아이콘 높이 */
  }
  
  .login-button{
    margin-left: 1000px;
    margin-top: -30px;
    color: #8D8B8B;
  }
 